[program:{{ project_name }}]
directory= /vagrant
command={{ venv_bin }}/gunicorn_start
user={{ proj_user }}
group={{ proj_group }}
autostart=true
autorestart=true
stdout_logfile={{ supervisor_log_file }}
loglevel=debug
redirect_stderr=true
